Repository AReid987/auto_job_bot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

eslint.js
  .commitlint.json
  .eslintrc.js
  .eslintrc.json
  tsconfig.json
Due: prettier --write

pretty-quick
  .eslintrc.js
  .prettierignore
  .prettierrc
  aja_api/tmp/appmap/process/2024-01-30T21:41:24.651Z/mtime
  aja_api/tmp/appmap/process/2024-01-30T22:39:12.430Z/mtime
  aja_api/tmp/appmap/requests/2024-01-30T21:43:29.107Z_-/mtime
  aja_api/tmp/appmap/requests/2024-01-30T21:43:29.377Z_-/mtime
  aja_api/tmp/appmap/requests/2024-01-30T22:40:28.486Z_-/mtime
  auto_job_app.code-workspace
  docker-compose.yaml
  nestjs_api/src/auto_job_app.code-workspace
  nestjs_api/tsconfig.json
  package.json
  pnpm-lock.yaml
  python_automation/Dockerfile
  python_automation/Pipfile.lock
  python_automation/assets/style.css
  python_automation/compose.yaml
Due: prettier --write

eslintignore
  .czrc
  .eslintignore
  .husky/pre-commit
  .lintstagedrc.json
  .shellcheckrc
  aja_api/src/auto_logger/pino-option.logger.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --fix, prettier --write

🐛 fix(test): testing
  .commitlintrc.json
  .czrc
  .husky/pre-commit
  .husky/prepare-commit-msg
  .lintstagedrc.json
  package.json
Due: prettier --write

feat(.husky/* package.json commitlint.config.js): adding different configuration for commit linting
  .commitlintrc.json
  .czrc
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(.husky): attempting fix
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
Due: none

fix(testing): testing
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
Due: none

fix: test
  .husky/pre-commit
Due: none

fix(.husky): trying fix
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci(.husky/pre-push): beginning ci/cd linting
  .husky/pre-commit
  .husky/pre-push
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

CircleCI Commit
  .circleci/config.yml
Due: none

refactor(packages): just reconfiguring commitizen husky commitlent
  .husky/pre-push
  aja_api/Dockerfile
  nestjs_api/Dockerfile
Due: prettier --write

Create techstack.md
  techstack.md
Due: none

Create techstack.yml
  techstack.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *{ts,tsx,sh,js,json,*rc}
